name: Guths Shared CD

on:
  push:
    branches: ['master']

env:
  PROJECT_PATH: Guths.Shared

jobs:
  publish:
    name: Build and Publish NuGet Package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .Net
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore dependencies
        run: dotnet restore ${{ env.PROJECT_PATH }}

      - name: Build Release
        run: dotnet build ${{ env.PROJECT_PATH }} -c Release --no-restore
        
      - name: Create NuGet Package
        run: dotnet pack ${{ env.PROJECT_PATH }} -c Release --no-build --output nupkgs

      - name: Publish to NuGet.org
        run: dotnet nuget push ./nupkgs/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate